out*
__pycache__
.vscode
ucitObject
*.pdf
.DS_Store
temp
temp.csp

models/

seed-version-UCIT/
seed-version-UCIT/*
seed-version-UCIT.zip


*.inFile
*.outFile
experimentalResults/
experimentalResults/*
InpuFiles/
InpuFiles/*