out*
__pycache__
.vscode
ucitObject
*.pdf
.DS_Store
temp/
temp.csp

models/
models copy/

/src/MaskingMCDC-Input-Tool-Files
/src/MaskingMCDC-Output-Files
/src/MCDC-Input-Model-Files
/src/Old-Version-Classes
/src/TestResults

seed-version-UCIT.zip



*.inFile
*.outFile
experimentalResults/
experimentalResults/*
./src/InputFiles/
./src/InputFiles/*

InputFiles/